/*Mobile*/
@media (max-width: 740px) {
   
    #header #search-btn {
        display: none;
    }
    #header #mobile-menu-btn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #header {
        position: fixed;
        overflow: hidden;
        width: 100%;
    }
    #nav {
        display: block;  
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;  
    }
    #nav > li {
        display: block;
    }
    #nav li a {
        padding: 1px 24px; 
    }
    #nav > li:first-child {
        display: inline-block;
    }
    .cursor {
        display: none;
    }
    #content .member-img {
        width: 60%; 
    }
    #content .send {
        float: inherit;
    }
    .width100 {
        width: 100%;
    }
    .places-list {
        
    }
    .line1 {
        margin-bottom: 20px;
    }    


}
/*Tablet and Mobile*/ 
@media (max-width: 1023px) {
    .place-buy-btn {
        padding: 15px 16px;
    }
    
}
/*Tablet*/
@media (min-width: 740px ) and (max-width: 1023px) {
    .cursor {
        display: none;
    }
}


